.nav {
    width:233px;
    height:100vh;
    background:rgba(0,0,0,0.5);
}

.nav>li {
    display:flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    height:42px;
    padding: 0 28px;
    cursor: pointer;
    position: relative;
}

.nav>li a{
    color:inherit;
    margin-right: 4px;
}

.nav>li:hover {
    background:#ff6801;
}

.nav>li:hover .nav-menu {
    display: grid;
}

.nav-menu {
    position: absolute;
    display: none;
    top: 0;
    left: 100%;
    height: 460px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 305px;
    grid-auto-flow: column;
    grid-auto-columns: 305px;
    background: white;
    border:1px #e1e1e1 solid;
    box-shadow: 5px 5px 10px #ccc;
    color: #36303c;
}

.nav-menu>li{
    display: flex;
    align-items: center;
}

.nav-menu>li>img{
    margin-left:26px;
    margin-right:21px;
}