html{
    font-size:26.666667vw;
}

body{
    /* font-size: 0.16rem; */
    font-size: 16px;
}

.head {
    height: 43px;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: white;
}

.head i {
    font-size: 18px;
}

.head-user, .head-email{
    font-size: 14px;
    width: 25%;
}

.head-user {

}

.head-logo {
    width: 50%;
    text-align: center;
}

.head-logo img {
    height: 20px;
}

.head-email {
    text-align: right;
}

.head-email i:first-of-type {
    margin-right: 3px;
}