/* 等高的几种方式 */

/* .main {
    width: 500px;
    background: skyblue;
    display: flex;
    justify-content: space-between;
}

.main div {
    width: 100px;
    background: pink;
} */

.main {
    width: 500px;
    background: skyblue;
    overflow: hidden;
}

.main div {
    width: 100px;
    background: pink;
    float: left;
    margin-bottom: -2000px;
    padding-bottom: 2000px;
}

.main div:nth-of-type(2){
    float:right;
}
